@{
    ViewBag.Title = "О программе";
}

<h2>Система поиска физических эффектов по технической функции</h2>

<br><br>

<h4>Программа предназначена для помощи в автоматизации изобретательской деятельности. Осуществляет поиск по техническим функциям физических эффектов.</h4>


<p>полнотекстовый поиск:</p>
<p>lucene - обычный полнотекстовый поиск lucene</p>
<p>fullTextSearchF - обычный полнотекстовый поиск fullTextSearch</p>
<p>fullTextSearchCf - поиск форм слов, можно использовать (#слово) для повышения важности слова</p>
<p>fullTextSearchCl - поиск по вхождениям, можно использовать (#слово) для повышения важности слова</p>
<p></p>


<br><br>

<h3></h3>