@{
    ViewBag.Title = "О программе";
}

<h2>Система поиска физических эффектов по технической функции</h2>

<br><br>

<h4>Программа предназначена для помощи в автоматизации изобретательской деятельности.</h4>


<p>дескрипторный поиск</p>
<p>8 типов полнотекстового поиска</p>
<p>администрирование ФЭ и дескрипторов</p>
<p>разраничение возможностей пользователей согласно выданной роли</p>

<br><br>

<h3></h3>