@{
    ViewBag.Title = "О программе";
}

<h2>Система поиска физических эффектов по технической функции</h2>

<br><br>

<h4>Программа предназначена для помощи в автоматизации изобретательской деятельности. Осуществляет поиск по техническим функциям физических эффектов.</h4>

<br><br>

<h3>Выполнил Вайнгольц И.И., руководители Фоменков С.А., Коробкин Д.М.</h3>