@{
    ViewBag.Title = "Главная страница";
}



<div class="jumbotron">
    <h1>Система поиска физических эффектов</h1>
    <p class="lead">Программа предназначена для помощи в автоматизации изобретательской деятельности. Осуществляет поиск по техническим функциям физических эффектов.</p>
    <p class="text-center"><a href="~/Search/DescriptionSearch" class="btn btn-primary btn-lg">Начать поиск</a></p>
</div>




