@{
    ViewBag.Title = "Главная страница";
}



@*@Url.Action("DescriptionInput", "Actions", new { inp = new dip.Models.Domain.DescrSearchI() {actionType="123" }, outp = new dip.Models.Domain.DescrSearchI() { actionType = "1234" } })*@

<div class="jumbotron">
    <h1>Система поиска физических эффектов</h1>
    <p class="lead">Программа предназначена для помощи в автоматизации изобретательской деятельности. Осуществляет поиск по техническим функциям физических эффектов.</p>
    <p class="text-center"><a href="~/Search/DescriptionSearch" class="btn btn-primary btn-lg">Начать поиск</a></p>
</div>


@*<button onclick="GOGOGO()"> TEST</button>*@



<script>
    //function GOGOGO() {
    //    //var data_descr_search = "primer=" + primer + "&primer2=" + primer2;
    //    //var data_descr_search = "forms[0].ActionId=10&forms[1].ActionId=20";

    //    var data_descr_search = {
    //        'forms1.ActionId': 10,
    //        'forms2.ActionId':20
    //    };//"forms[0].ActionId=10&forms[1].ActionId=20";

    //    goAjaxRequest({
    //        url: "/Search/DescriptionSearch",
    //        data: data_descr_search,
    //        func_success: function (data, status, jqXHR) {

    //            alert(data);
    //            //document.getElementById('search_content_div_id').innerHTML = data;
    //            //data_descr_search.function_trigger = go1;
    //            //showHideDescrForm(false);
    //        }
    //    });
    //}

</script>