@*файл представления для отображения header части страниц
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@


<div class="main_footer">
    <div class="main_footer_up">
        <p>Web-приложение для информационного поиска в базе данных физических эффектов</p>
    </div>
    <div class="main_footer_middle"></div>
    <div class="main_footer_down">
        @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        <p>@@zsuzitor 2019</p>

    </div>
    
</div>