
<div class="main_footer">
    <div class="main_footer_up">
        <p>Система поиска физических эффектов по технической функции</p>
    </div>
    <div class="main_footer_middle"></div>
    <div class="main_footer_down">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>


    </div>
    
</div>