@*файл представления для отображения полной дескрипторной формы
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.ViewModel.ActionsV.DescriptionFormAllV


<div id="DescriptionFormMainAll" style="display:block;">

    <div>

        @Html.Action("DescriptionInput", "Actions", new { inp = Model.DescrInp, outp = Model.DescrOutp })

    </div>

    <div>
        @Html.Action("ObjectInput", "Actions", new { changedObject=Model.ChangedObject, stateIdBegin=Model.ObjectStateIdBegin,
       stateIdEnd=Model.ObjectStateIdEnd,
       objFormsBegin=Model.ObjectFormsBegin,
       objFormsEnd=Model.ObjectFormsEnd
   })

    </div>


</div>



<script src="~/Scripts/descriptionFormAll.js" type="text/javascript"></script>
@*@section scripts{
    <script src="~/Scripts/descriptionFormAll.js" type="text/javascript"></script>

}*@