

@model dip.Models.Domain.Action

<div class="form-group" id="fizVel">
    @if (ViewBag.currentActionId != "VOZ11")
    {
        @Html.LabelFor(model => model.FizVelId, "Название физической величины", htmlAttributes: new { @class = "control-label col-md-2" })
    }
    else
    {
        @Html.LabelFor(model => model.FizVelId, "Раздел физики", htmlAttributes: new { @class = "control-label col-md-2" })
    }
    <div class="col-md-10">
        @Html.DropDownList("fizVelId", null, htmlAttributes: new { id = "fizVelId", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FizVelId, "", new { @class = "text-danger" })
    </div>
</div>





