



@model dip.Models.Domain.Action

@*@MyHelpers.selectList(ViewBag.pros, "Пространственные характеристики", "pros", "Pros")*@
<div class="form-group" id=@("pros"+((string)ViewBag.type))>
    @if (ViewBag.pros.Count != 0)
    {
        @Html.LabelFor(model => model.Pros, "Пространственные характеристики", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <table>
                <tr>
                    @{
                        int cnt = 0;
                        foreach (var pros in ViewBag.pros)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @: </tr> <tr>
                            }
                            @:
                            <td>
                                <input id=@("listSelectedPros"+((string)ViewBag.type)+cnt) type="checkbox" name=@("listSelectedPros"+((string)ViewBag.type)) value="@pros.Id" /> @pros.Name
                                <div id="@(pros.Id+((string)ViewBag.type))" name="0"></div>
                                </td>
                        }
                        @: </tr>
                    }
                </table>
            </div>
                        }
</div>
