



@model dip.Models.Domain.Action
@if (ViewBag.specChild.Count != 0)
{
    <div id=@ViewBag.parent name="1">
        <table>
            <tr>
                @{
                    int cnt = 0;
                    foreach (var spec in ViewBag.specChild)
                    {
                        if (cnt++ % 3 == 0)
                        {
                            @:</tr><tr>
                    }
                        @:<td>
                        if (spec.IsSelected == true)
                        {
                            <input type="checkbox" name="listSelectedSpec" value="@spec.Id" checked /> @spec.name
                        }
                        else
                        {
                            <input type="checkbox" name="listSelectedSpec" value="@spec.Id" /> @spec.name
                        }
                        <div id=@spec.Id name="0"></div>
                        @:</td>
                }
                    @:</tr>
                }
            </table>
        </div>
                    }
