



@model dip.Models.Domain.Action
<div class="form-group" id="spec">
    @if (ViewBag.spec.Count != 0)
    {
        @Html.LabelFor(model => model.Specs, "Специальные характеристики", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <table>
                <tr>
                    @{
                        int cnt = 0;
                        foreach (var spec in ViewBag.spec)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @: </tr> <tr>
                            }
                            @:
                            <td>
                                <input type="checkbox" name="listSelectedSpec" value="@spec.Id" /> @spec.Name
                                <div id="@spec.Id" name="0"></div>
                                </td>
                        }
                        @:</tr>
                    }
                </table>
            </div>
                        }
</div>
