@model IEnumerable<dip.Models.Domain.FEText>


@if (Model.Count() < 1)
{
    <p>по данному запросу ничего не найдено</p>
}
@foreach(var i in Model)
{
    <div>
        <p>@Html.ActionLink(i.Name, "Details", "DescriptionQueries")</p>

    </div>



}


