 .MovementPhys_inputId{
       width:150px !important;
       display:inline;
}

   div.MovementPhysIns{
      
   }
   div.MovementPhysMain{
       text-align: center;
   }

   div.details_one_image{
       border-radius:5%;
       overflow:hidden;
       width:200px;
       box-shadow: 0 0 10px rgba(0,0,0,0.5);
   }
   div.details_favourite_star{
    
    width:30px;
    height:30px;
   
}
   div.block_images{
           text-align: center;
           padding-top:50px;
   }

   div.edit_button_image_action{
       width: 200px;
   }




   ul.detailsMenu{
       position:relative;
       text-align: center;
   }
   ul.detailsMenu li {
    
    /*margin-right: 5px;*/ 
    /*border: 1px solid #cccccc;*/
    /*padding: 3px;*/ 
    /*background-color:rgba(0,0,0,0.2);*/
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    height:40px;
    /*min-width:100px;*/
    cursor:pointer;
    color:black;
    display:inline-block;
    transition:.3s;
    
   }
    ul.detailsMenu li a{
        color:black;
    }
    ul.detailsMenu li:hover{
        margin-top:-5px;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
        /*background-color:black;*/
    }

    div.detailsBodyBody{
        min-height:600px;
    }