/*@media (min-width: 500px) {
  .container {
    max-width: 750px;
  }}*/

/*@media only handheld {
    .container {
        max-width: 750px !important;
    }
}*/

@media (max-width:850px) {
    .container {
        max-width: 750px !important;
    }

    .login_partial_ul{
        float: right !important;
    }
    .login_partial_ul .login_partial_ul_li{
        float: left;
    }
}


body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    min-width:960px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    /*max-width: 280px;*/
}

input,
select,
textarea{
    width:100%;
    max-width:100%;
    min-width:50px;
}

.checkBoxClass{
    width:20px !important;
}

/*при редактиваронии*/
/*div.one_effect_img{
    width:100px;
    height:100px;
}*/


body{
    /*padding-top:200px;*/
}


.width_100per{
    width:100%;
}

a:hover{
         text-decoration:none;
    }

.link_standart_for_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: black; /* Цвет ссылки */
    
}





.field-validation-error {
    color: #f00;
}
 
.field-validation-valid {
    display: none;
}
 
.input-validation-error {
    border: 1px solid #f00;
    background-color: #f00;
}
 
.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}
 
.validation-summary-valid {
    display: none;
}

















div.one_block_fetext_list{
    min-height:100px;
    /*border:2px solid black;*/
    border-radius:5%;
    background-color:#F5F5F5;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
     padding:5px;
    
}

p.one_block_body_fetext_list{
     white-space:pre-wrap;
     word-wrap: break-word;
}

div.one_block_fetext_list_external{
    padding:10px;
    position:relative;
}

div.inline {
     display: inline;
}
div.div_inline_block {
    display: inline-block;
    vertical-align: top;
}


div.cursor_pointer{
    
}
.cursor_pointer:hover{
    cursor:pointer;
}

.col_black{
    color:black;
}



/*------------------*/

div.Main_header_back_to_top{
    position: fixed;
    height: 50px;
    width: 50px;
    display: none;
    top: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /*background-color: #cdfae0;*/
    background-image: url(/Content/images/back_to_top.jpg);
    background-size: 100% 100%;
    z-index: 5;
    cursor:pointer;
}

div.layout_active_panel{
    position:absolute;
    top:-1px;
    left:-1px;
    width:1px;
    height:1px;

}





div.Main_header_big {
    position: relative;
    background-color: white;
    height: 500px;
    width: 96%;
    left: 2%;
    background-image: url(/Content/images/main_header_back_big.jpg);
    background-size: 100% 100%;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
     z-index:5;
    
}





div.Main_header_small {
    position: fixed;
    height: 50px;
    width: 100%;
    display: none;
    top: 0px;
    /*background-color: #cdfae0;*/
    background-image: url(/Content/images/main_header_back_big.jpg);
    background-size: 100%;
    /*min-width:960px;*/
    z-index: 5;
    border:2px solid black;
}


div.main_header_search_str_div{
    width:70%;
}

div.main_header_search_type_div{
    width:15%;
}

div.main_header_search_but_div{
    width:100px;
}
div.Main_header_big_log_part{
    position:absolute;
    right:0px;
    bottom:0px;
}
div.main_header_text_search_all_block{
    display:inline;
    margin-left:3%;
}
div.main_header_text_search_form_block{
    position:absolute;
    top:40%;
        width: 100%;
}
div.Main_header_home_link{
position:absolute;
    left:0px;
    bottom:0px;
    
}
ul.Main_header_menu li{
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
 
    /*padding: 3px;*/ /* Поля вокруг текста */
    margin-left:20px;
    /*font-size: 18px;
        line-height: 20px;*/
}
div.Main_header_link_block{
    /*margin-left:10%;*/
    /*display:inline-block;
    position:center;*/
}
/*---------------------------------------------------------*/







div.main_footer{
   
    /*border:2px solid black;*/
}

div.main_footer_up{
     color:white;
    background-color:rgba(60,60,60,0.5);
    height:100px;
}
div.main_footer_middle{
    height:25px;
}
div.main_footer_down{
    color:white;
    height:300px;
    background-color:rgba(60,60,60,1);
}
  div.Main_preloader{
        position:fixed;
    width:100px;
    height:100px;
    left:50%;
    margin-left:-50px;
    border-radius:50%;
    /*left:48%;
    top:50px;*/
    display:none;
    /*background-image: url(/Content/images/preloader_cat.gif);*/
    background-size: 100% 100%;
    
    z-index:10;
    animation-name: preloader_animation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
animation-direction: alternate;    /*анимация идет 0%->100%  100->0  0->100*/
 background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 20px);
    }

  @keyframes preloader_animation {
     0%{/*можно 0%*/
         background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 20px);
    }
     15%{/*можно 0%*/
         background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 21px);
    }
     30%{/*можно 0%*/
         background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 22px);
    }
     45%{/*можно 0%*/
         background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 23px);
    }
     60%{/*можно 0%*/
         background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 24px);
    }
     75%{/*можно 0%*/
         background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 25px);
    }
    90% {/*можно 100%*/
       background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 26px);
    }
    100% {/*можно 100%*/
       background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 27px);
    }
}







  /*----------------------------------------------*/


  div.class_image_standart{
width: 100%;
		height: 100%;
        background-size:100%;
        /*background-size: cover;
    background-repeat: no-repeat;
    background: no-repeat;*/
        /*background-position: center;
        background-size: contain;*/
    }


  div.out_main_tag_one_img_cl{
      height:100%;
      width:100%;
  }

  div.div_load_open_img{
    cursor:pointer;
    height:200px;
      width:200px;
      
}




   /*div.ImageRecord_all_block{
           /*width:80%;
           margin-left:10%;
           border:2px solid black;*
           padding-right:360px;
       }*/




/*listfe*/

div.listfe_favourite_star{
    position:absolute;
    width:30px;
    height:30px;
    right:5px;
    top:5px;
}





   
   /*-------------------------------DETAILS   and edit---------------*/

   div.details_one_image{
       border-radius:5%;
       overflow:hidden;
       width:200px;
       box-shadow: 0 0 10px rgba(0,0,0,0.5);
   }
   div.details_favourite_star{
    
    width:30px;
    height:30px;
   
}
   div.block_images{
           text-align: center;
           padding-top:50px;
   }

   div.edit_button_image_action{
       width: 200px;
   }


   /*.col{
  color:black;
}*/

   .Favourite_true{
        color:yellow;
   }

   .Favourite_false{

 color:grey;
   }

  .favourite_star{
      /*font-size:40pt;*/
      /*display:inline;*/
font-size:25pt;
      cursor:pointer;
      width:30px;
      height:30px;
      padding:0;
   }
   .wingdings {
    font-family: Wingdings;
    
}



   /*----------------------------------------------*/



   
   /*-------------------------------full text search---------------*/



   div.div_search_ft_but{
       margin-left:45%;
       display:inline;
   }


   /*----------------------------------------------*/



   div.ImageRecord_all_block{
        width:100%;
     height:100%;
   }

   div.div_for_replace_ajax{
    position:fixed;
    left:-20px;
    top:-20px;
    display:none;
    min-width:960px;
    background-color: rgba(0,0,0,0.8);
    /*opacity: 0.8;*/
    z-index:10;
    overflow:hidden;
    cursor:pointer;
    
}
div.div_for_replace_ajax_2{
     position:absolute;
    /*left:-20px;
    top:-20px;*/
    /*width:80%;
     height:80%;*/
    background-color: white;
    opacity: 1;
    /*margin-left:10%;*/
    /*margin:auto;*/
    min-width:760px;
    cursor:default;
     /*position:center;*/
}





div.div_img_record_show_block{
    width:250px;
    height:250px;
}


div.descrCheckBoxChild{
    padding-left:30px;
}


/*table.descrFormGroupCheckBox td{
    border: 1px solid black;

}*/











div.descrForm_div_search_but{
    width:60%;
}
div.descrForm_div_clear_but{
    width:18%;
}

div.descrForm_div_shwh_but{
     width:18%;
}

