

@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.FizVel>




    <div class="col-md-10">
   
        <select name=@("fizVelId"+ Model.Type) class="form-control" id=@("fizVelId"+ Model.Type)>

            @foreach (var i in Model.List)
            {
                if (Model.Param?.FizVelId == i.Id)
                {
                    <option selected value="@i.Id">@i.Name</option>
                }
                else
                {
                    <option value="@i.Id">@i.Name</option>
                }


            }

        </select>

    </div>


