@*файл представления для отображения части дескрипторной формы (параметрические fizvel)
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@


@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.FizVel>

<div class="">
    @if (Model.List != null && Model.List.Count != 0)
    {
        <div class="col-md-10">

            <select name=@("parametricFizVelId"+ Model.Type) class="form-control" id=@("parametricFizVelId"+ Model.Type)>
                @foreach (var i in Model.List)
                {

                    if (Model.Param?.ParametricFizVelId == i.Id)
                    {
                        <option selected value="@i.Id">@i.Name</option>
                    }
                    else
                    {
                        <option value="@i.Id">@i.Name</option>
                    }


                }

            </select>

        </div>
    }
</div>

