

@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.FizVel>





<div class="" id=@("fizVel"+Model.Type)>
   
    <div class="col-md-10">
        @*@Html.DropDownList("fizVelId"+ ((string)ViewBag.type), null, htmlAttributes: new { id = "fizVelId"+ ((string)ViewBag.type), @class = "form-control" })*@
        <select name=@("fizVelId"+ Model.Type) class="form-control" id=@("fizVelId"+ Model.Type)>

            @foreach (var i in Model.List)
            {
                if (Model.Param?.FizVelId == i.Id)
                {
                    <option selected value="@i.Id">@i.Name</option>
                }
                else
                {
                    <option value="@i.Id">@i.Name</option>
                }


            }

        </select>





        @*@Html.ValidationMessageFor(model => model.FizVelId, "", new { @class = "text-danger" })*@
    </div>
</div>

