@model bool?


@if (Model == true)
{
    <div title="Удалить из избранного" class="Favourite_true favourite_star col wingdings">
        &#xf0ab;
    </div>
}

@if (Model == false)
{
    <div title="Добавить в избранное" class="Favourite_false favourite_star col wingdings">
        &#xf0ab;
    </div>
}
