

@model dip.Models.ViewModel.HelpersV.ImageV


@if (Model.Image?.Id != null)
{
<div id="LinkImageForLoad_id_@Model.Image.IdForShow" class="div_image_standart div_load_open_img" onclick="ShowImageRecordAJAX('@Model.Image.IdForShow')">
@Html.Action("Image", "Helpers",new {a= Model.Image, show_empty_img=true })
</div>
}
@if (Model.Image?.Id == null)
{
@Html.Action("Image", "Helpers", new { a = Model.Image, show_empty_img = true })
}

