

@model dip.Models.ViewModel.HelpersV.ImageV


@if (Model.Image?.Data != null)
{
<div class="out_main_tag_one_img_cl" id="out_main_tag_one_img_id_@Model.Image.IdForShow">
   
    <div id="main_tag_one_img_id_@Model.Image.IdForShow" class="class_image_standart" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(Model.Image.Data))
              no-repeat; background-position: center;background-size: contain;">
       
    </div>
</div>
}

    @if (Model.ShowEmptyImage == true)
    {


        if (Model.Image?.Data == null)
        {
            @*<img src="~/Content/images/camera_200.png" />*@
            <div class="out_main_tag_one_img_cl" id="out_main_tag_one_img_id_@Model.Image.IdForShow">
                <div class="divEmptyImageCamera">
                   
                </div>
            </div>
        }
    }
