@model dip.Models.ViewModel.HelpersV.ListPhaseObjectV




@if (Model.Phases != null&& Model.Phases.Count>0)
{
    string[] needSelectedList = Model.Param.Split(new string[] { " " }, StringSplitOptions.RemoveEmptyEntries);
    <div class="objectInputChilds">
        @foreach (var i2 in Model.Phases)
        {
        <div>
            @{
                bool? needSelected = needSelectedList?.Contains(i2.Id);
            }
            <label>
                @if (needSelected == true)
                {

                    <input  class="checkBoxClass" type="checkbox" checked name="change_phase_checbox"  value=@("change_phase_checbox_"+Model.Type+"_"+i2.Id ) />
                }
                else
                {
                  
                    <input  class="checkBoxClass" type="checkbox" name="change_phase_checbox"  value=@("change_phase_checbox_"+Model.Type+"_"+i2.Id ) />

                }
                @i2.Name
            </label>

            <div>
                <div id=@("phaseChilds_"+Model.Type+"_"+i2.Id)>
                    @Html.Action("ListPhaseObject", "Helpers", new { a = i2.Childs, type = Model.Type, param = Model.Param })
                </div>
                @*}*@
            </div>
        </div>
        }
    </div>
}





