@model dip.Models.ViewModel.HelpersV.ListPhaseObjectV




@if (Model.Phases != null)
{
    foreach (var i2 in Model.Phases)
    {
        <div>
            <label>@(i2.Name)</label>
            <div>
                @*@foreach (var i in i2.Childs)
                    {*@
                <div>
                    @Html.Action("PartFormPhaseObject", "Helpers", new { a = i2.Childs, type = Model.Type, param = Model.Param })
                </div>
                @*}*@
            </div>
        </div>
    }
}





