@model dip.Models.Domain.ListPhysics


@if (Model != null)
{
    <div id=@("ListPhysExistItemMainDiv_"+Model.Id)>
        <input type="radio" class="radioClass" name="ListPhysExistItem" id=@("ListPhysExistItem_"+Model.Id) />
        <label for=@("ListPhysExistItem_"+Model.Id) id=@("ListPhysExistItemNameLabel_"+Model.Id) >@Model.Name</label>
        <input id=@("ListHiddenName_id_"+Model.Id) type="hidden" value="@Model.Name"/>
        @*<button>@Model.Name</button>*@

    </div>
}
