@model IEnumerable<dip.Models.ApplicationUser>



@foreach(var i in Model)
{
    <div class="bottomGrey">
        @*<a href="/Person/PersonalRecord/"></a>*@
        @Html.ActionLink(@i.UserName, "PersonalRecord", "Person",new { personId=i.Id },new { })
        @*<lavel title="Имя пользователя">@i.Name</lavel>*@
        <lavel title="Id пользователя">@i.Id</lavel>

    </div>
}

