@*файл представления для отображения блока текста 1 фазы
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model IEnumerable<IEnumerable<string>>


@foreach (var i in Model)
{
    foreach (var i2 in i)
    {
        <p>
            <span class="breakWord">@i2</span>
        </p>
    }
}


