@model dip.Models.ViewModel.HelpersV.OnePhysInListsItemV

<div class="bottomGrey" id=@("oneP_onePhysInListItem_id_"+Model.Item.IDFE)>
    <div class="listAction_inpbut_inp div_inline_block">
        <a title="@Model.Item.Name" href="@(Url.Action("Details","Physic",new {id=Model.Item.IDFE }))">@Model.Item.Name</a>
    </div>

    <div class="button_circle_img_30 button_circle_sub_ div_inline_block" onclick="DeleteFromCurrentList(@Model.Item.IDFE)" title="Удалить из списка"></div>
</div>

