@model dip.Models.ViewModel.HelpersV.FormStateObjectV





@*@foreach (var i2 in Model.States)
{*@
    <div>
        @*new List<dip.Models.Domain.StateObject>() {*@
            @Html.Action("ListStateObject", "Helpers", new { a = Model.States, type = Model.Type, param = Model.Param })
            @*<label>@Model.State.Name</label>
            <div>
                @foreach (var i in Model.State.Childs)
                {
                    <div>
                        @Html.Action("PartFormStateObject", "Helpers", new { a = i, type = Model.Type, param = Model.Param })
                    </div>
                }
            </div>*@
</div>
@*}*@







