@model dip.Models.ViewModel.HelpersV.PartFormCharacteristicObjectV





<div>
    <p>Фаза 1</p>
    <div>
        @Html.Action("PartFormPhaseObject", "Helpers", new { a = Model.Characteristic.Phase1, type = Model.Type, param = Model.Characteristic.ParamPhase1 })


    </div>
    <p>Фаза 2</p>
    <div>
        @Html.Action("PartFormPhaseObject", "Helpers", new { a = Model.Characteristic.Phase2, type = Model.Type, param = Model.Characteristic.ParamPhase2 })




    </div>
    <p>Фаза 3</p>
    <div>
        @Html.Action("PartFormPhaseObject", "Helpers", new { a = Model.Characteristic.Phase3, type = Model.Type, param = Model.Characteristic.ParamPhase3 })



    </div>




</div>



