
@{
    ViewBag.Title = "AddRole";
}

<h2>AddRole</h2>


@using (Html.BeginForm("AddRole", "Admin"))
{
    <input name="userId" type="text" />
    <input name="roleName" type="text" />
    <input type="submit" value="выдать роль" />
}
