@model dip.Models.ViewModel.AdminV.ChangeRoleV
@{
    ViewBag.Title = "AddRole";
}

<h2>ChangeRole</h2>


@*@using (Html.BeginForm("AddRole", "Admin"))
    {*@

<div>
    <select class="cursor_pointer form-control" name="roleName" id="roleNameSelect_id">
        @foreach (var i in Model.Roles)
        {
            <option value="@i">@i</option>
        }
    </select>
    <button class="btn btn-default" onclick="AddRole()">Выдать роль</button>
    <button class="btn btn-default" onclick="RemoveRole()">Забрать роль</button>
    <hr />
    <p>Введите id пользователя или выберите пользователя из списка</p>
    <input placeholder="id пользователя" class="form-control" name="userId" id="userIdInput_id" type="text" />
    @*<p>Получить id пользователя по username</p>или username
    <input placeholder="username пользователя" class="form-control" name="username" id="usernameInput_id" type="text" />
    <button class="btn btn-default" onclick="GetIdByUsername()">Получить id</button>*@


    <p>Присвоенные роли можно просмотреть на странице пользователя</p>
    <button class="btn btn-default" onchange="clearLinkUser()" onclick="showLinkCurUser()">Показать ссылку на страницу пользователя</button>
    <div id="idCurrentUser_id"></div>

    @*<div class="padding_50_top"></div>
    <button class="btn btn-default" id="butLoadAllUsers" onclick="LoadAllUsers()">Показать всех пользователей</button>*@
</div>

    @*<div class="changeRoleAllUserList" id="ListAllUsers_id" style="display:none;">

    </div>*@



@*<div class="div_inline_block changeRoleHalfMain">
    <input class="form-control" name="userId" id="userIdInput_id" type="text" />
    <p>Присвоенные роли можно просмотреть на странице пользователя</p>
    <button class="btn btn-default" onchange="clearLinkUser()" onclick="showLinkCurUser()">Показать ссылку на страницу пользователя</button>
    <div id="idCurrentUser_id"></div>
 
    <div class="padding_50_top"></div>
    <button class="btn btn-default" id="butLoadAllUsers" onclick="LoadAllUsers()">Показать всех пользователей</button>
    <div id="ListAllUsers_id" style="display:none;">

    </div>
    
    </div><div class="div_inline_block changeRoleHalfMain">
               <select class="cursor_pointer form-control" name="roleName" id="roleNameSelect_id">
                   @foreach (var i in Model.Roles)
                   {
                       <option value="@i">@i</option>
                   }
               </select>
               <button class="btn btn-default" onclick="AddRole()">Выдать роль</button>
               <button class="btn btn-default" onclick="RemoveRole()">Забрать роль</button>
    </div>*@

@*}*@





<script>
    function clearLinkUser() {
        document.getElementById('idCurrentUser_id').innerHTML = '';
    }

    function showLinkCurUser() {
        let id = document.getElementById('userIdInput_id').value;
        if (id) {
            let strLink = '/Person/PersonalRecord?personId=' + id;
            document.getElementById('idCurrentUser_id').innerHTML = '<a href="'+strLink+'">Страница пользователя</a>';
        }
        else
            alert('Введите id пользователя');
        
    }



    function AddRole() {
        var formData = {
            userId: document.getElementById('userIdInput_id').value,
            roleName: document.getElementById('roleNameSelect_id').value
        };
        goAjaxRequest({
            url: "/Admin/AddRole",
            data: formData,
            func_success: function (req, status, jqXHR) {
                alert(req)

            }, type: 'POST'
        });
    }


    function RemoveRole() {
        var formData = {
            userId: document.getElementById('userIdInput_id').value,
            roleName: document.getElementById('roleNameSelect_id').value
        };
        goAjaxRequest({
            url: "/Admin/RemoveRole",
            data: formData,
            func_success: function (req, status, jqXHR) {
                //alert('Роль успешно удалена')
                alert(req)
            }, type: 'POST'
        });
    }

   
   
</script>