@*файл представления для отображения страницы изменения ролей пользователей
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.ViewModel.AdminV.ChangeRoleV
@{
    ViewBag.Title = "AddRole";
}

<h2>Изменение ролей пользователей</h2>


<div>
    <select class="cursor_pointer form-control" name="roleName" id="roleNameSelect_id">
        @foreach (var i in Model.Roles)
        {
            <option value="@i">@i</option>
        }
    </select>
    <button class="btn btn-default" onclick="AddRole()">Выдать роль</button>
    <button class="btn btn-default" onclick="RemoveRole()">Забрать роль</button>
    <hr />
    <p>Введите id пользователя или выберите пользователя из списка</p>
    <input onchange="changeUserId()" placeholder="id пользователя" class="form-control" name="userId" id="userIdInput_id" type="text" />
   

    <p>Присвоенные роли можно просмотреть на странице пользователя</p>
    <button class="btn btn-default" onchange="clearLinkUser()" onclick="showLinkCurUser()">Показать ссылку на страницу пользователя</button>
    <div id="idCurrentUser_id"></div>

</div>





@section scripts{
    <script src="~/Scripts/changeRole.js" type="text/javascript"></script>
    
    }