@*файл представления для отображения списка пользователей(коротко)
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model IEnumerable<dip.Models.ApplicationUser>


<div>
    @Html.Action("ListUsersShortData", "Helpers", new { list = Model })
</div>




