@*файл представления для отображения списка пользователей(коротко) рядом с каждой записью отрисовать кнопку
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model IEnumerable<dip.Models.ApplicationUser>


<div>
    @Html.Action("ListUsersShortDataWithButton", "Helpers", new { list = Model,butText="Выбрать" })
</div>


