@*файл представления для поиска данных о пользователях
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@{
    ViewBag.Title = "UsersData";
}

<h2>UsersData</h2>


<p>Введите id  пользователя или выберите пользователя из списка</p>
<input onchange="changeUserId()" placeholder="id пользователя" class="form-control" name="userId" id="userIdInput_id" type="text" />
<button class="btn btn-default" onchange="clearLinkUser()" onclick="showLinkCurUser()">Показать ссылку на страницу пользователя</button>
<div id="idCurrentUser_id"></div>

<p>Получить id пользователя по username</p>
<input placeholder="username пользователя" class="form-control" name="username" id="usernameInput_id" type="text" />
<button class="btn btn-default" onclick="GetIdByUsername()">Получить id по username</button>
<br />
<p>Получить id пользователя по имени и фамилии</p>
<input placeholder="Имя пользователя" class="form-control" name="nameOfUser" id="nameOfuserInput_id" type="text" />
<input placeholder="Фамилия пользователя" class="form-control" name="surnameOfUser" id="surnameOfuserInput_id" type="text" />
<button class="btn btn-default" onclick="GetIdByNameSurname()">Получить id  по имени и фамилии</button>
<div class="changeRoleAllUserList" id="ListFIUsers_id" style="display:none;">

</div>


<div class="padding_50_top"></div>
<button class="btn btn-default" id="butLoadAllUsers" onclick="LoadAllUsers()">Показать всех пользователей</button>



<div class="changeRoleAllUserList" id="ListAllUsers_id" style="display:none;">

</div>


@section scripts{
    <script src="~/Scripts/usersData.js" type="text/javascript"></script>

}
