@*файл представления для результата действия(добавление ФЭ в список)
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.Domain.FEText


@if (Model == null)
{
    <p>что то пошло не так(возможно запись была добавлена ранее)</p>
}
else
{
@Html.Action("OnePhysInListsItem", "Helpers", new { item = Model })

}



