@*файл представления для результата действия(выдача списка пользователю)
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.Domain.ListPhysics


@if (Model != null)
{
    <div class="bottomGrey" id=@("divOneListFeExist_"+Model.Id)>
        <div  class="div_inline_block listAction_inpbut_inp">
            <a title="@Model.Name" href="@Url.Action("ListAct","ListPhysics",new {currentListId=Model.Id })">@Model.Name</a>
        </div>
            <div class="button_circle_img_30 button_circle_sub_ div_inline_block" onclick="removeListFromUser(@Model.Id)" title="забрать у пользователя все ФЭ включенные в этот список"></div>
        </div>

}
else
{
    <p>Что то пошло не так, возможно список уже присвоен</p>
}


