@model dip.Models.Domain.FEText


@if (Model != null)
{
    <div class="bottomGrey" id=@("divOnePhysExist_" + Model.IDFE)>
        <div class="div_inline_block listAction_inpbut_inp">
            <a href="@Url.Action("Details", "Physic", new { id = Model.IDFE })">@Model.Name</a>
        </div>
            <div class="button_circle_img_30 button_circle_sub_ div_inline_block" onclick="removePhysFromUser(@Model.IDFE)" title="Забрать у пользователя  ФЭ"></div>

        </div>
}
else
{
    <p>Что то пошло не так, возможно ФЭ уже присвоен</p>
}
