@model IEnumerable<dip.Models.Domain.FEText>


@if (Model != null)
{
    
        <input class="form-control" onchange="clearFeExistLink()" placeholder="id ФЭ для удаления" type="number" id="AssignPhysForDel" />
    
    <div class="div_inline_block">
        <button class="btn btn-default" onclick="ShowLinkFetextExist()">Показать Ссылку на страницу ФЭ</button>
    </div>
    <div class="button_circle_img_30 button_circle_sub_ div_inline_block" onclick="removePhysFromUser()" title="Забрать у пользователя  ФЭ"></div>
    
        <div id="divLinkCurrFetextExist_id"></div>
        <div id="divAllFetextExist_id">
            @foreach (var i in Model)
            {
                <div class="bottomGrey" id=@("divOnePhysExist_"+i.IDFE)>
                    <div class="div_inline_block listAction_inpbut_inp">
                        <a title="@i.Name" href="@Url.Action("Details", "Physic", new { id = i.IDFE })">@i.Name</a>
                    </div>
                        <div class="button_circle_img_30 button_circle_sub_ div_inline_block" onclick="removePhysFromUser(@i.IDFE)" title="Забрать у пользователя  ФЭ"></div>

                    </div>
            }
        </div>
}
else
{
    <h1>Пользователь не найден</h1>
}

