@*файл представления для действия(удаление списка)
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.Domain.ListPhysics

@if (Model != null)
{
    <p>Удалено</p>
}

