
@{
    ViewBag.Title = "ListUserAct";
}

<h2>ListUserAct</h2>





<div class="ListUserAct_MainDiv">
    <div class="ListUserAct_OneColumn div_inline_block">
        <div>
            пользователи



        </div>
    </div><div class="ListUserAct_OneColumn div_inline_block">
              <div>
                  то что уже закреплено
                  <div>
                      <button class="btn btn-default" onclick="">Списки</button>
                      <button class="btn btn-default" onclick="">ФЭ</button>
                      <div class="OneUserOwnContent">
                          <p>список</p><button class="btn btn-default" onclick="">просмотр</button><button class="btn btn-default" onclick="">забрать у пользователя все ФЭ включенные в этот список</button>
                          <p>ФЭ-ссылка</p><button class="btn btn-default" onclick="">забрать у пользователя  ФЭ</button>
                      </div>
                      </div>


              </div>
              <div>
                  то что не закреплено
                  <div>
                      <button class="btn btn-default" onclick="">Списки</button>
                      <button class="btn btn-default" onclick="">ФЭ</button>
                      <div class="OneUserNotOwnContent">
                          <p>список</p><button class="btn btn-default" onclick="">просмотр</button><button class="btn btn-default" onclick="">закинуть пользователю</button>
                          <p>ФЭ-ссылка</p><button class="btn btn-default" onclick="">закинуть пользователю</button>
                      </div>
                  </div>


              </div>
    </div>
    



</div>





