@*файл представления выдачи списков
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@{
    ViewBag.Title = "ListUserAct";
}




<link type="text/css" rel="stylesheet" href="~/Content/ListUserAct.css" />


<h2>Страница выдачи ФЭ</h2>





<div class="ListUserAct_MainDiv">
    <div class="ListUserAct_OneColumn div_inline_block">
        <div>
            пользователи
            <input class="form-control" type="text" id="currentUserId_id" placeholder="Введите id пользователя"/>

            <button id="butLoadAllUsers" class="btn btn-default" onclick="LoadAllUsers()">Показать всех пользователей</button>
            <div id="ListAllUsers_id" style="display:none;">

            </div>
        </div>
    </div><div class="ListUserAct_OneColumn div_inline_block">
              <div>
                  то что уже закреплено
                  <div>
                      <button id="buttonChangeViewHList" class="btn btn-default" onclick="ShowAssignList()">Списки</button>
                      <button id="buttonChangeViewHPhys" class="btn btn-default" onclick="ShowAssignPhys()">ФЭ</button>
                      <div class="OneUserOwnContent">
                          <div id="AssignsList_id" style="display:none;">
                              
                          </div>
                          <div id="AssignsPhys_id" style="display:none;">
                             
                          </div>
                          
                          
                      </div>
                      </div>


              </div>
    <hr />
              <div>
                  то что не закреплено
                  <div>
                      <button id="buttonChangeViewNHList" class="btn btn-default" onclick="ShowNotAssignList()">Списки</button>
                      <button id="buttonChangeViewNHPhys" class="btn btn-default" onclick="ShowNotAssignPhys()">ФЭ</button>
                     
                      <div class="OneUserNotOwnContent">
                          <div id="ForAssignsList_id" style="display:none;">
                              <input class="form-control" onchange="clearListFeLink()" placeholder="id списка для добавления" type="number" id="newAssignList" />
                              <button class="btn btn-default" onclick="ShowLinkListFe()">Показать Ссылку на список</button>
                              <div class="button_circle_img_30 button_circle_plus_ div_inline_block" onclick="AssignListToUser()" title="Присвоить"></div>

                              <div id="divLinkCurrListFe_id"></div>
                          </div>
                          <div id="ForAssignsPhys_id" style="display:none;">
                              <input class="form-control" onchange="clearFeLink()" type="number" placeholder="id ФЭ для добавления" id="newAssignPhys" />

                              <button class="btn btn-default" onclick="ShowLinkFetext()">Показать Ссылку на страницу ФЭ</button>
                              <div class="button_circle_img_30 button_circle_plus_ div_inline_block" onclick="AssignPhysicToUser()" title="Присвоить"></div>

                              <div id="divLinkCurrFetext_id"></div>
                          </div>
                          
                      </div>
                  </div>


              </div>
    </div>
    
</div>





@section scripts{
    <script src="~/Scripts/listUserAct.js" type="text/javascript"></script>

}