


@model dip.Models.ViewModel.ListPhysicsV.ListActV

@{
    ViewBag.Title = "ListAct";
}


<link type="text/css" rel="stylesheet" href="~/Content/ListAct.css" />



<div class="ListAct_MainDiv">
    <div class="ListAct_OneColumn div_inline_block">

        <h1>Существующие списки</h1>
        <div class="ListAct_ExistList" id="ListAct_ExistList_id">
            @if (Model.Lists.Count == 0)
            {
                <p>Пока не создано ни 1 списка</p>
            }
            @foreach (var i in Model.Lists)
            {
                bool sel = Model.CurrentListId == i.Id;
                @Html.Action("ListPhysItem", "Helpers", new { item = i, select = sel })

            }

        </div>
        Добавить новый
        <div>
            <div class="listAction_inpbut_inp div_inline_block">
                <input class="form-control" placeholder="Название" id="NewListName_id" type="text" />
            </div>
            <div class="button_circle_img_30 button_circle_plus_ div_inline_block" onclick="AddNewList()" title="Добавить"></div>
        </div>
    </div><div class="ListAct_OneColumn div_inline_block">
    <div id="divEditCurrentList_id" style="display:none;">
        <label>Название списка</label>
        <input class="form-control" placeholder="Введите название списка" id="inputNameEditCurrentList_id" type="text" />
        <label>Id списка</label>
        <label class="form-control" id="idCurrentList_id"></label>
        <div>
            <div class="button_circle_img_30 button_circle_save_ div_inline_block" onclick="SaveChangesCurrentList()" title="Сохранить изменения"></div>
            <div class="button_circle_img_30 button_circle_del_ div_inline_block" onclick="DeleteCurrentList()" title="Удалить"></div>
        </div>
    </div>




        <h1> В списке</h1>

        <div id="PhysInCurrentList" class="PhysInCurrentList_cl">

        </div>
        <div>
            Добавить
            
            <div>
                <input  onchange="clearFeLink()" id="AddNewPhysInCurListInput" class="form-control" placeholder="Id физического эффекта" type="number" />

                
                <div class="div_inline_block">
                    <button class="btn btn-default" onclick="ShowLinkFetext()">Показать Ссылку на страницу ФЭ</button>
                </div>
                <div class="button_circle_img_30 button_circle_plus_ div_inline_block" onclick="AddNewPhysInCurList()" title="Добавить"></div>
                <div id="divLinkCurrFetext_id"></div>

            </div>

        </div>

    <div>
        <h1> Выдан пользователям</h1>
        <div>
            <button id="butLoadUserHasCurList" class="btn btn-default" onclick="LoadUsersForCurrentList()">Показать пользователей</button>
            <div style="display:none;" id="UsersHasCurrentList_id">
                 
            </div>
        </div>
    </div>
    </div>

</div>





@section scripts{
    <script src="~/Scripts/listAct.js" type="text/javascript"></script>

}

