
@{
    ViewBag.Title = "ListUserAct";
}

<h2>ListUserAct</h2>





<div class="ListUserAct_MainDiv">
    <div class="ListUserAct_OneColumn div_inline_block">
        <div>
            пользователи
            <input type="text" id="currentUserId_id" placeholder="Введите id пользователя"/>


        </div>
    </div><div class="ListUserAct_OneColumn div_inline_block">
              <div>
                  то что уже закреплено
                  <div>
                      <button class="btn btn-default" onclick="ShowAssignList()">Списки</button>
                      <button class="btn btn-default" onclick="ShowAssignPhys()">ФЭ</button>
                      <div class="OneUserOwnContent">
                          <div id="AssignsList_id" style="display:none;">
                              
                          </div>
                          <div id="AssignsPhys_id" style="display:none;">
                             
                          </div>
                          
                          
                      </div>
                      </div>


              </div>
    <hr />
              <div>
                  то что не закреплено
                  <div>
                      <button class="btn btn-default" onclick="ShowNotAssignList()">Списки</button>
                      <button class="btn btn-default" onclick="ShowNotAssignPhys()">ФЭ</button>
                     
                      <div class="OneUserNotOwnContent">
                          <div id="ForAssignsList_id" style="display:none;">
                              <input type="number" id="newAssignList" />
                              <button onclick="AssignListToUser()">Присвоить</button>
                              <div><p>список</p><button class="btn btn-default" onclick="">просмотр</button><button class="btn btn-default" onclick="">закинуть пользователю</button></div>
                          </div>
                          <div id="ForAssignsPhys_id" style="display:none;">
                              <input type="number" id="newAssignPhys" />
                              <button onclick="AssignPhysicToUser()">Присвоить</button>
                              <div><p>ФЭ-ссылка</p><button class="btn btn-default" onclick="">закинуть пользователю</button></div>
                          </div>
                          
                      </div>
                  </div>


              </div>
    </div>
    



</div>





<script>

    function ShowAssignList() {
        document.getElementById('AssignsList_id').style.display='block';

        document.getElementById('AssignsPhys_id').style.display = 'none';


        var formData = { iduser: document.getElementById('currentUserId_id').value };
        if (!formData.iduser.trim())
            alert('Введите id пользователя');
        goAjaxRequest({
            url: "/ListPhysics/AssignsUsersList",
            data: formData,
            func_success: function (req, status, jqXHR) {
                document.getElementById('AssignsList_id').innerHTML = req;

            }, type: 'GET'
        });



    }

    function ShowAssignPhys() {
        document.getElementById('AssignsList_id').style.display = 'none';

        document.getElementById('AssignsPhys_id').style.display = 'block';

        var formData = { iduser: document.getElementById('currentUserId_id').value };
        if (!formData.iduser.trim())
            alert('Введите id пользователя');
        goAjaxRequest({
            url: "/ListPhysics/AssignsUsersPhysics",
            data: formData,
            func_success: function (req, status, jqXHR) {
                document.getElementById('AssignsPhys_id').innerHTML = req;

            }, type: 'GET'
        });
    }
    

    function ShowNotAssignList() {
        document.getElementById('ForAssignsList_id').style.display = 'block';

        document.getElementById('ForAssignsPhys_id').style.display = 'none';


        



    }

    function ShowNotAssignPhys() {
        document.getElementById('ForAssignsList_id').style.display = 'none';

        document.getElementById('ForAssignsPhys_id').style.display = 'block';

        
    }


    function AssignListToUser() {
        
        var formData = { iduser: document.getElementById('currentUserId_id').value, idlist:document.getElementById('newAssignList').value };
        //string iduser, int idlist)
        goAjaxRequest({
            url: "/ListPhysics/AssignListToUser",
            data: formData,
            func_success: function (req, status, jqXHR) {
                alert('result AssignListToUser');

            }, type: 'POST'
        });
        
    }

    function AssignPhysicToUser() {
        var formData = { iduser: document.getElementById('currentUserId_id').value, idphys: document.getElementById('newAssignPhys').value };
        //string iduser, int idlist)
        goAjaxRequest({
            url: "/ListPhysics/AssignPhysicToUser",
            data: formData,
            func_success: function (req, status, jqXHR) {
                alert('result AssignListToUser');

            }, type: 'POST'
        });
    }
    

</script>