@*файл представления для просмотра пользователей которым выдан список
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.Domain.ListPhysics

@if(Model.Users!=null&&  Model.Users.Count > 0)
{
@Html.Action("ListUsersShortData", "Helpers", new { list = Model.Users })
}
else
{
    <label>Пусто</label>
}



