@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="login_partial_ul nav navbar-nav navbar-right">
        <li class="login_partial_ul_li">
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "PersonalRecord", "Person", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li class="login_partial_ul_li"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="login_partial_ul nav navbar-nav navbar-right">
        <li class="login_partial_ul_li">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="login_partial_ul_li">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
