
@{
    ViewBag.Title = "CreateSomething";
}

<h2>CreateSomething</h2>





@Html.ActionLink("Добавить физический эффект", "Create", "Physic", new { }, new { @class = "navbar-brand" })


@Html.ActionLink("Добавить дескрипторы", "CreateDescription", "Physic", new { }, new { @class = "navbar-brand" })