@model dip.Models.Domain.FEText

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>




<div >
    @*<div >
        @Html.Action("DescriptionInput", "Actions")
    </div>
    <div>
     
    @Html.Action("ObjectInput", "Actions")
</div>*@
    <div>
        @Html.Action("DescriptionFormAll", "Actions", new { })
    </div>
    @*@using (Html.BeginForm("Create", "Physic", FormMethod.Post, new { id = "FormPhysCreate", enctype = "multipart/form-data" }))
    {*@
        @*<div id="physCreateFormDescrRecDiv">
           
        </div>*@

        @Html.Action("FeTextInput","Helpers",new {obj=Model })
           
       
        <div id="physCreateFormIMGDiv">
            <input class="btn btn-default" id="upLoadImagesId" type="file" multiple name="uploadImage" />
        </div>
    @*}*@
    <input class="btn btn-default" onclick="CreatePhysFunc()" value="отправить" />
    

   
</div>


<script>

    function CreatePhysFunc() {

        data_descr_search.function_trigger = function () {
            var data = new FormData();
            let massFiles=document.getElementById('upLoadImagesId').files;

            $.each(massFiles, function (key, value) {
                data.append('uploadImage', value);
            });

            
            
            for (key in data_descr_search) {
                if (key != 'function_trigger' && key != 'search') {
                    if (key == 'stateBegin' || key == 'stateEnd')
                        data.append('Obj.' + key + 'Id', data_descr_search[key]);//Obj.
                    else if (key == 'CountInput' || key == 'ChangedObject')
                        data.append('Obj.'+key ,data_descr_search[key] );//Obj.
                    else
                        data.append(key ,data_descr_search[key] );

                    if (data_descr_search[key] == 'undefined' || data_descr_search[key] == undefined) {
                        if (key.indexOf('state')>=0)
                            alert('Не выбрано состояние');
                        else
                            alert('Что то пошло не так');
                        return;
                    }
                }
            }


            data.append('obj.Name', document.getElementById('Name').value);
            data.append('obj.Text', document.getElementById('Text').value);
            data.append('obj.TextInp', document.getElementById('TextInp').value);
            data.append('obj.TextOut', document.getElementById('TextOut').value);
            data.append('obj.TextObj', document.getElementById('TextObj').value);
            data.append('obj.TextApp', document.getElementById('TextApp').value);
            data.append('obj.TextLit', document.getElementById('TextLit').value);
            

            //--
            ////TODO
            //changedobject
            //countinput ?
            //return;
            $.ajax({
                url: '/Physic/Create',
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false, // Не обрабатываем файлы (Don't process the files)
                contentType: false, // Так jQuery скажет серверу что это строковой запрос
                //success: function (respond, textStatus, jqXHR) {

                //    alert("Запись создана успешно, ссылка- " + respond);
                //},
                complete: function (respond, textStatus, jqXHR) {
                    if (respond.status==200)
                        alert("Запись создана успешно, ссылка- " + window.location.origin + respond.responseText);
                }
            });

            

        };
        Go_next_step();
    }

</script>




