@model dip.Models.ViewModel.PhysicV.CreateDescriptionObjectV



<button class="btn btn-default" id="butInfoBlockId" onclick="showInfo()">Показать информацию</button>
<div style="display:none;" id="divInfoBlockId">
    <h2>Сохранятся только изменения тех элементов которые отображаются на экране на момент нажатия кнопки "сохранить"</h2>
    <h2>при удалении родителя, будут удалены(не будут добавлены новые ) все дети</h2>


</div>




@Html.Action("ListStateObjectEdit","Helpers",new { list = Model.States })

<hr />

@Html.Action("ListPhaseObjectEdit", "Helpers", new { list = Model.Characteristic, parentId= dip.Models.Constants.FeObjectBaseCharacteristic })

<div style="display:none;" class="errorDiv" id="errorShowDiv"></div>
<button class="btn btn-default" onclick="saveForm()">Сохранить</button>



@section scripts{
    <script src="~/Scripts/CreateDescriptionObject.js" type="text/javascript"></script>

}

