
@{
    ViewBag.Title = "CreateSomething";
}

<h2>CreateSomething</h2>




<div class="form-group form-horizontal">
    <div>
        @Html.ActionLink("Добавить физический эффект", "Create", "Physic", new { }, new {  })
    </div>
    <div>
        @Html.ActionLink("Добавить дескрипторы", "CreateDescription", "Physic", new { }, new {  })
    </div>

</div>