@*файл представления отрисовки списка ФЭ(например как результат поискового запроса)
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@


@model dip.Models.ViewModel.PhysicV.ListFeTextV

@*<hr />*@
@{
    int count = Model.FeTexts.Count();
}
@if (count < 1)
{
    <h1>по данному запросу ничего не найдено</h1>
}
 
@Html.Action("ListFeText","Helpers",new {model=Model })
