


@model dip.Models.ViewModel.Physic.ListFeTextV

@*<hr />*@
@{
    int count = Model.FeTexts.Count();
}
@if (count < 1)
{
    <h1>по данному запросу ничего не найдено</h1>
}
@*@if (count > 0)
{
    <h1>Всего найдено записей @count</h1>
}*@
    <div id="one_load_block_fetext_list_id_@(Model.NumLoad)">
    @foreach (var i in Model.FeTexts)
    {
        <div class="one_block_fetext_list_external">
            <div class="one_block_fetext_list" id="one_block_fetext_list_id_@i.IDFE">
                <p>@Html.ActionLink(i.Name, "Details", "Physic", new { id = i.IDFE }, new { })</p>
                @{
                    int countInStr = (int)(i.Text.Length * 0.3);
                    countInStr = countInStr > 150 ? 150 : countInStr;
                    countInStr = countInStr < 30 ? i.Text.Length : countInStr;
                }
                <p>@i.Text.Substring(0, countInStr) ...</p>
            </div>
        </div>


                    }
</div>

