


@model dip.Models.ViewModel.PhysicV.ListFeTextV

@*<hr />*@
@{
    int count = Model.FeTexts.Count();
}
@if (count < 1)
{
    <h1>по данному запросу ничего не найдено</h1>
}
@*@if (count > 0)
{
    <h1>Всего найдено записей @count</h1>
}*@
 
@Html.Action("ListFeText","Helpers",new {model=Model })
