@model IEnumerable<dip.Models.Domain.ListPhysics>


<div>
    @foreach (var i in Model)
    {
        <div>
            <a href="@Url.Action("ListAct","ListPhysics",new {currentListId=i.Id })">@i.Name</a>
        </div>
    }
</div>







