@*файл представления отображения списка семантических схожих записей
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.ViewModel.PhysicV.ShowSimilarV


<div>

    <p>Похожие записи:</p>
    @Html.Action("ListFeText", "Physic",new { listId=Model.ListSimilarIds.ToArray() })

</div>
