


<div>

    @*@foreach (var i in (List<int>)ViewBag.listSimilar)
    {
        <p>@Html.ActionLink(i.ToString(), "Details", "Physic", new { id = i}, new { })</p>
    }*@
    <p>Похожие записи:</p>
    @Html.Action("ListFeText", "Physic",new { listId=((List<int>)ViewBag.listSimilar).ToArray() })

</div>
