


@model dip.Models.ViewModel.SearchV.DescriptionSearchV


@{
    ViewBag.Title = "DescriptionSearch";
}

<h2>DescriptionSearch</h2>


<div>
    <h4>ФОРМА поиска</h4>

    @Html.Hidden(" ", Url.Action("DescriptionSearch", "Search"), new { id = "descr_search_href_id" })
    
     

    @Html.Action("DescriptionFormAll", "Actions", new { objFormsBegin = Model.FormObjectBegin, objFormsEnd = Model.FormObjectEnd,
    inp = Model.FormInput,
    outp = Model.FormOutput
})





    <div>
        
        <div class="div_inline_block descrForm_div_search_but">
            <p class="text-center">
                <button class="width_100per btn btn-default" onclick="GoFirstDescrSearch()">Поиск</button>
                </p>
</div>
        <div class="div_inline_block descrForm_div_clear_but">
            <button class="width_100per btn btn-default" onclick="clearForm()">Очистить форму</button>
        </div>
        <div class="div_inline_block descrForm_div_shwh_but">
            <div id="showHideDescrForm" class="width_100per btn btn-primary" onclick="showHideDescrForm()">Скрыть форму</div>
        </div>
       
    </div>
        <div id="search_content_div_id">

            @if (Model?.SearchList != null)
            {
                @Html.Action("ListFeText", "Physic", new { listId = Model?.SearchList })
            }

        </div>
    
    <p class="text-center">
        <div class="inline" style="display:none;" id="div_search_ft_but_id">
            <button class="width_100per btn btn-default" onclick="loadMoreFTBut()">загрузить еще</button>
        </div>
    </p>
    
      
        <div>

            @Html.ActionLink("Назад на главную страницу", "Index", "Home")
        </div>
    </div>





@section scripts {
    <script>

        $(document).ready(function () {
            data_descr_search.function_trigger = goSave;

        });



    </script>


    <script src="~/Scripts/DescriptionSearch.js" type="text/javascript"></script>


}
